version: "3.9"

services:
  redpanda:
    image: redpandadata/redpanda:latest
    container_name: redpanda
    command:
     - redpanda
     - start
     - --overprovisioned
     - --smp=1
     - --node-id=0
     - --check=false
     - --kafka-addr=PLAINTEXT://0.0.0.0:9092
     - --advertise-kafka-addr=PLAINTEXT://redpanda:9092
    ports:
      - "9092:9092"
      - "9644:9644"
    networks:
      - appnet

  redpanda-console:
    image: redpandadata/console:latest
    container_name: redpanda-console
    depends_on:
      - redpanda
    environment:
      - KAFKA_BROKERS=redpanda:9092
    ports:
      - "8080:8080"
    networks:
      - appnet
      
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"
    networks:
      - appnet

  user-service:
    build:
      context: ../../services/user-service
      dockerfile: Dockerfile
    container_name: user-service
    ports:
      - "8081:8081"
    networks:
      - appnet
    depends_on:
      - redpanda

  ai-gateway:
    build:
      context: ../../services/ai-gateway
      dockerfile: Dockerfile
    container_name: ai-gateway
    ports:
      - "8090:8090"
    networks:
      - appnet
    depends_on:
      - redpanda
      - user-service

networks:
  appnet:
