apiVersion: v1
kind: Service
metadata:
  name: qdrant
  namespace: distributedai
spec:
  clusterIP: None   # headless service for StatefulSet
  selector:
    app: qdrant
  ports:
    - port: 6333
      targetPort: 6333
