apiVersion: v1
kind: Service
metadata:
  name: redpanda
  namespace: distributedai
spec:
  selector:
    app: redpanda
  ports:
    - name: kafka
      port: 9092
      targetPort: 9092
      protocol: TCP
    - name: admin
      port: 9644
      targetPort: 9644
      protocol: TCP
  type: ClusterIP
